<div class="cookie-consent slide-in-animation">
  <div class="cookie-consent-info">
    <p>{{ $.Site.Params.cookiesPolicy }} <a id="cookies-policy-url" href="/cookies">{{ $.Site.Params.cookiesPolicyShowMore }}</a></p>
     <div class="cookie-consent-cta">
    <button class="cta-accept">Ok</button>
  </div>
  </div>
</div>
<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
      {{ else }}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span>© {{ now.Year }} {{ $.Site.Params.writtenBy }} <a style="color: #27aff8" href="https://twitter.com/migtarx">migtarx</a> |
          <br>
          <a href="{{ $.Site.Params.builtWithUrl }}">{{ $.Site.Params.builtWith }}</a> |
          <a href="{{ $.Site.Params.aboutUrl }}">{{ $.Site.Params.about }}</a> |
          <a href="{{ $.Site.Params.contactUrl }}">{{ $.Site.Params.contact }}</a>
        </span>
      </div>
    {{ end }}
  </div>
</footer>

{{ $cookies := resources.Get "js/cookies.js" | js.Build }}
{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}
{{ $theme := resources.Get "js/theme.js" | js.Build }}
{{ $bundle := slice $menu $cookies $prism $theme | resources.Concat "bundle.js" | resources.Minify }}
<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

{{- partial "extended_footer.html" . }}
