.cookie-consent {
    position:relative;
    animation: slide-in 1s ease-in-out forwards;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    background-color: #242627;
    color: white;
}
.cookie-consent-info {
    display: flex;
    height: 100%;
    align-items: center;
}
.cookie-consent-cta {
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
}

.cookie-consent-cta button {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 0px;
    font-size: 14px;
}
.cta-accept {
    margin-left: 10px;
    background-color: #26b1ff;
}

@media screen and (max-width: 900px) { 
    .cookie-consent {
        flex-direction: column;
        height: auto;
    }
    .cookie-consent-info {
        margin-bottom: 8px;
    }
}
.hide-out {
    display: none;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}